*{
    font-family: 'Roboto', sans-serif;
}

.email-app{
    padding: 20px;
    display: flex;

    background: antiquewhite;
    background: rgb(210,210,210);
    background: radial-gradient(circle, rgba(210,210,210,1) 0%, rgba(156,156,156,1) 100%);
}

.emails {
    display: flex;
    width: 100%;
}
/* email nav */
.email-nav{
    padding: 10px 5px;
}

.email-nav nav{
    display: flex;
    flex-direction: column;
}

.email-nav nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 4px 20px 4px 0;
}



.email-nav ul {
    list-style: none;
    padding: 0;
}

.email-nav ul li{
    color: #fff;
    padding: 0px 5px 15px;
    font-size: 1.2em;
    text-shadow: 1px 1px #000000;
}

/* router view*/
.router-view-container{
width:100%
}

/* email list */
.emailList{
    display: block;
    list-style: none;
    font-size: 1em;
    border: 1px solid #939393;

}

.emailListLi{
    display:flex;
}
.emailListLi:hover{
    background: #f2f5f5c9;
}

ul.emailList {
    padding: 0;
}

.email-item{
    background: #f2f5f5c9;
    padding: 2px;
}

.email-item ul {
    list-style: none;
    display: flex;
    padding: 5px 10px;
}

.email-item ul li{
    font-size: 1.2rem;
    margin: 5px 10px;
}

/* email details */
.email-details {
    background-color: #f5f5f5;
    padding: 20px;
}  

.header {
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 5px 8px;
}
.content{
    padding: 5px 8px;
}