@import url("../css/responsive.css");

*{
    font-family: 'Roboto', sans-serif;
}
 
.emailApp{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;

    background: antiquewhite;
    background: rgb(210,210,210);
    background: radial-gradient(circle, rgba(210,210,210,1) 0%, rgb(119, 119, 119) 100%);
    min-height: 100vh;
}

.emails {
    display: flex;
    flex-direction: column;
    width: 100%;
}



/* header */
.emailApp .header{
    display: flex;
    justify-content: flex-start;
    background: #ffffff00;
    border-bottom: 1px solid #d1d1d1;
    padding: 0 0 10px 0px;
}

.emailApp .header .logo {
    min-width: 150px;
}

.serchInputRub{
    display:flex;
    border: 1px solid #90908e;
    background: #858585;
    border-radius: 10px;
    width: 80%;
    max-width: 720px;
    padding: 8px 10px;
}

.searchInput {
    background: #ffffff00;
    border: 1px solid #90908e;
    border-radius: 0px 10px 10px 0;
    font-size: 1.1em;
    color: #fff;
    padding: 4px 30px;
    outline: #90908e;
    margin: 0;
    width: 100%;
}

.searchInput::placeholder {
    color: #fff
}

.searchBtn {
    background: #ffffff00;
    border: 1px solid #90908e;
    font-size: 1.3em;
    padding: 5px;
    color: #fff;
    border-radius: 10px 0 0 10px;
}

.searchBtn .fa-search{
    color: #fff;
}

button.searchBtn:hover {
    outline: none;
}

button.unreadEmailsBtn , button.readEmailsBtn ,.sortEMail{
    font-size: 1.2em;
    color: #fff;
    background: #fff0;
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0 0px 10px 10px;
}

.sortEMail option{
    color: #fff; 
    background: #90908e;

}

button.unreadEmailsBtn:hover , button.readEmailsBtn:hover{
    color: #ea4335;
}

/* body */
.emailApp .email-body {
    display: flex;
    flex-direction: column;
}

/* side bar */
.sideBar{
    display: flex;
    flex-direction: column;
}
.composeBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    font-size: 0.9em;
    padding: 8px 27px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 30px;
    outline: none;
}
/* email nav */
.email-nav{
    padding: 10px 5px;
}

.email-nav nav{
    display: flex;
    flex-direction: row;
}

.email-nav nav a , .email-nav nav .link{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 4px 20px 4px 0;
    cursor: pointer;
}

.email-nav nav a:hover , .email-nav nav .link:hover{
    color: #ea4335;
}

.email-nav ul {
    list-style: none;
    padding: 0;
}

.email-nav ul li{
    color: #fff;
    padding: 0px 5px 15px;
    font-size: 1.2em;
    text-shadow: 1px 1px #000000;
}

/* router view*/
.router-view-container{
width:100%
}

/* email list */
.emailList{
    display: block;
    list-style: none;
    font-size: 1em;
    border: 1px solid #939393;

}

.emailListLi{
    background: #e4e6e6;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    padding: 10px;
}

.emailListLi:hover{
    background: #b3e7ff;
}

ul.emailList {
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* info */

.emails .info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
    align-items: flex-end;
}

section.emails-info {
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.email-info{
    align-self: flex-end;
}
.info {
    padding: 0;
    color: #fff;
    align-self: flex-end;
    text-shadow: 1px 1px #000;
}

.email-item{
    background: #e4e6e6;
    padding: 2px;
    width: 100%;
    cursor: pointer;
}

.email-item ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.email-item ul li{
    font-size: 1.2rem;
    margin: 5px 10px;
    min-width: 300px;
}

.emailListLi .btnsContainer{
    display: flex;
    flex-direction: row;
}

.mark {
    padding: 4px 6px;
    border: none;
    background: #e5e7e7;
    color: #888;
    cursor: pointer;
    align-self: flex-start;
}

.mark:hover{
    color: #000;
}

.mark::before {
    font-size: 22px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; 
    content: "\f2b6";

}

.mark.read::before{
    font-size: 22px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; 
    content: "\f0e0";
}

.deleteBtn {
    padding: 5px 12px;
    font-size: 18px;
    border: none;
    background: #e5e7e7;
    color: #888;
    cursor: pointer;
    align-self: flex-start;
}

.deleteBtn:hover{
    color: #000;  
}

.starBtn{
    background: #e3e6e6;
    outline: none;
    border: none;
    padding: 0px 0px 0 10px;
    align-self: flex-end;
}


.stared{
    content:url('../img/star_googyellow500_20dp.png');
}

/* 
.delete::before{
    font-size: 22px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; 
    content: "\f1f8";
} */


/* email details */
.email-details {
    background-color: #f5f5f5;
    padding: 60px 20px 30px;
    border-bottom: 1px solid #5e5e5e;
}  

.email-details h2{
    margin: 10px 0;
}

.body .header {
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 5px 8px;
    margin: 0 0 10px;
}

.fromContainer{
    display: flex;
    flex-direction: column;
    font-weight: 500;

}

.header .from {
    font-weight: 500;
    padding: 3px 20px 0 0;
}

.content{
    padding: 5px 8px;
}

.repliesList{
    list-style: none;
}

.emailReadFalse{
    font-weight: 500;
}

.sendToKeepsBtn{
    font-size: 1.2em;
    color: #000;
    background: #fff0;
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid #000;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0 0px 10px 10px;
}

.replyBtn{
    font-size: 1.2em;
    color: #000;
    background: #fff0;
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid #000;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0 0px 10px 10px;
}

/* replies */
.replies{
    list-style: none;
}



/* compose email */
section.email-compose {
    position: fixed;
    z-index: 99;
    background: white;
    border: 1px solid #a0a0a0;
    bottom: 0;
    right: 0;
    padding: 10px;
    min-width:300px;
    width: 90%;
    border-radius: 10px 10px 0 0;
    padding: 0;

    -webkit-box-shadow: -2px 6px 16px 5px rgba(142,142,142,0.74); 
    box-shadow: -2px 6px 16px 5px rgba(142,142,142,0.74);
}

button.close {
    background: none;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 20px;
}

section.email-compose .headerCompose{
    display: flex;
    justify-content: space-between;
    background: #404040;
    border-radius: 10px 10px 0 0;
}   

.email-compose h2{
    color: #fff;

    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.formContainer form .rub {
    padding: 10px 10px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
}

.formContainer form .rub label {
    color: #777;
    font-size: 16px;
}

.formContainer form .rub .input {
    font-size: 1em;
    border: none;
    padding: 0 0px 0 10px;
    outline: none;
}

.formContainer .sendBtn{
    color: #ffffff;
    background: #1a73e8;
    font-size: 1.2em;
    padding: 7px 30px;
    border-radius: 5px;
    border: 1px solid #727272;
    outline: none;
}




@media only screen and (min-width: 720px) {
    .emailApp .email-body {
        flex-direction: row;
    }
    .emailListLi {
        flex-direction: row;
    }
    .email-item ul {
        flex-direction: row;
    }
    .email-nav nav {
        flex-direction: column;
    }
    button.unreadEmailsBtn , button.readEmailsBtn ,.sortEMail{
        margin: 0 0px 0 10px;
    }
    .emailListLi{

        padding: 0;
    }
    .fromContainer{
        flex-direction: row;
    }
    .mark , .deleteBtn ,.starBtn{
        align-self: auto;
    }
    .emailListLi .btnsContainer{
        flex-direction: row;
    }
    section.email-compose {
        min-width: 300px;
        max-width: 500px;
    }
}

@media only screen and (min-width: 920px) {


}
  
@media only screen and (min-width: 1020px) {
  

}

@media only screen and (min-width: 1100px) {
 

}

@media only screen and (min-width: 1210px) {

}
@media only screen and (max-width: 720px) {
   
}