


/*** HERE NEEDS TO BE GRID DISPLAY!! FLEX ONLY TEMPORARY ! */
/* .display-notes{
    display:flex;
    flex-wrap: wrap;
}
.display-notes > * {
    margin:1rem;
} */



 .display-notes{
    margin-top:3rem;
    display:grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: auto;
    grid-gap: 50px;
    background-color: rgb(248, 248, 248);
    padding:2rem;
    border-radius:1rem;
}

.notes-dynamic-cmp{
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}