


.notes-add{
    border:1px solid rgb(216, 216, 216);
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:700px;
}




.note-add-btn{
    border:none;
    background-color: transparent;
}

.fa-font,.fa-image,.fa-list-ul,.fa-check,.fa-video{
    font-size:1rem;
    color:rgb(87, 87, 87);   
    padding:1rem;
}


.notes-add .btns button{
    outline: none;
    cursor: pointer;
}

