.notes-add {
    border: 1px solid rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(225, 225, 225);
}

.note-add-btn {
    border: none;
    background-color: transparent;
    margin: 1rem;
    color: gray;
    font-size: 1.2rem; 
    transition: 0.2s;
    outline: none;
}
i{
    cursor: pointer;
}

.note-add-btn:hover {
    color: rgb(65, 65, 65);
}

.notes-add input {
    border: 1px solid rgb(228, 228, 228);
    height: 25px;
    width: 180px;
    outline: none;
    padding: .5rem;
    border-radius: 5px;
}


.notes-add-main ul {
    box-shadow: 1px 1px 5px rgb(225, 225, 225);
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    max-width: 800px;
    margin:auto;
    padding:1rem;
}
.notes-add-main ul li{
    list-style: circle;
    list-style-position: inside;
    color:rgb(89, 89, 89);
    padding:.3rem;
    border-bottom:1px solid rgb(221, 221, 221);
}
.notes-add-main h1{
    margin-left:1.7rem;
    margin-bottom:.6rem;
}

/* .fa-font,.fa-image,.fa-list-ul,.fa-check,.fa-video{
    font-size:1rem;
    color:rgb(87, 87, 87);   
    padding:1rem;
}


.notes-add .btns button{
    outline: none;
    cursor: pointer;
}  */