


.note-img-display{
    border-radius:5px;
    min-width:300px;
    min-height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    box-shadow: 1px 1px 1px rgb(221, 221, 221);
}
.note-img-display h1{
    margin-top: 1rem;
}


.note-img-display button{
    border:none;
    background-color: transparent;
    color:rgb(61, 61, 61);
    font-size:1rem;
    outline: none;
}
.note-img-display img{
    width:300px;
    height:200px;
    object-fit: cover;
    padding:10px;
    border-radius:15px;
}


.note-img-display button:hover{
    color:rgb(0, 0, 0);
}


.note-img-display:hover{
    box-shadow: 1px 1px 5px rgb(175, 175, 175);
}

