

.note-video-display{
    border-radius:5px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:.5rem;
    box-shadow: 1px 1px 1px rgb(221, 221, 221);
}

.note-video-display h1{
    margin:.5rem;
}

.note-video-display button{
    border:none;
    background-color: transparent;
    color:rgb(61, 61, 61);
    font-size:1rem;
    outline: none;
}

.note-video-display button:hover{
    color:rgb(0, 0, 0);
}


.note-video-display:hover{
    box-shadow: 1px 1px 5px rgb(175, 175, 175);
}