

.note-todos-display{
    border-radius:5px;
    min-height:200px;
    min-width:200px;
    padding:.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s;
    box-shadow: 1px 1px 1px rgb(221, 221, 221);
}

.note-todos-display h1{
    padding:5px;
}

.note-todos-display button{
    border:none;
    background-color: transparent;
    color:rgb(61, 61, 61);
    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    text-align: center;
    outline: none;
}

.note-todos-display button:hover{
    color:rgb(0, 0, 0);
}

.note-todos-display ul li{
    list-style: none;
    border-bottom:1px solid rgb(233, 233, 233);
    padding:.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-todos-display {
    font-size:14px;
}

.done{
    text-decoration: line-through;
}


.note-todos-display:hover{
    box-shadow: 1px 1px 5px rgb(175, 175, 175);
}

.note-todos-display input{
    width:10px;

}