@import url("../../apps/email/assets/css/main.css");
@import url('../../apps/keeps/assets/css/main.css'); /*this import KEEPS main css file*/
@import url('../../apps/books/css/main.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* use with - font-family: 'Roboto', sans-serif; */


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background-color: #fff;
}

.mainNav nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainApp .mainlink {
    display: block;
    padding: 20px;
    text-decoration: none;
    width: min-content;
}

.mainApp .mainlink:hover {
    opacity:0.7
}

.mainNav .mainlink img{
    max-width: 200px;
}

.name {
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.books-logo{
    width:200px;
}

@media only screen and (min-width: 720px) {
    .mainNav nav{
        display: flex;
        flex-direction: row;
    }
}